extends layout

block content
  h1 Herolens DMP
  p.lead Un prototipo para la HeroHack 2017.
  hr
  div
  table.table.table-striped
    thead
      tr
        th Usuario
        th IP
        th URL
    tbody
      each visit, i in visits
        tr
          td
            a(href=`/` + visit.name) #{visit.name}
          td #{visit.ip}
          td
            a(href=visit.url) #{visit.url}